cmake==4.4.0
fastcrc==0.3.6
grpcio==1.82.1
iniconfig==2.3.0
lxml==6.1.1
mavsdk==3.17.2
ninja==1.13.0
numpy==2.5.1
opencv-python==5.0.0.93
packaging==26.2
pluggy==1.6.0
protobuf==7.35.1
pygments==2.20.0
pymavlink==2.4.49
pytest==9.1.1
typing-extensions==4.16.0
